.flashMessage {
    width: 100%;
    padding: $spacing/2 0;

    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
}

.flashMessage--success {
    border-bottom: 1px solid #4F8A10;

    color: #4F8A10;

    background: rgba(#4F8A10, 0.2);
}

.flashMessage--warning {
    border-bottom: 1px solid #9F6000;

    color: #9F6000;

    background: rgba(#9F6000, 0.2);
}

.flashMessage--error {
    border-bottom: 1px solid #D8000C;

    color: #D8000C;

    background: rgba(#D8000C, 0.2);
}
